*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Utils */
  .text-center{
    text-align: center;
  }
  .text-right{
    text-align: right;
  }

  .bg-blue{
    background-color: rgb(0, 0, 148);
  }

  .bg-gray{
    background-color: rgb(197, 197, 197);
  }
/*<----->*/

/* Header */
header{
  background-color: lightblue;
  height: 50px;
}

header .row{
  width: 70%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  background-color: orange;
  padding: 3px;
  column-gap: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .col-sm{
  background-color: orange;
  padding: 3px;
  width: 20%;
}

/*<------>*/

/* Main */
main section{
  height: 370px;
}

main .row{
  width: 70%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pink-card{
  background-color: rgb(255, 121, 246);
  width: 65%;
  height: 80%;
}

main .col-large{
  height: 80%;
  width: 70%;
  background-color: lightskyblue;
}

main .col-sm{
  height: 80%;
  width: 30%;
  background-color: pink;
}
/*<------>*/