*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Utils */
  .text-center{
    text-align: center;
  }
  .text-right{
    text-align: right;
  }

  .bg-blue{
    background-color: rgb(0, 0, 148);
  }

  .bg-gray{
    background-color: rgb(197, 197, 197);
  }

  .border-white{
    border: 0.3px solid white;
  }
/*<----->*/

header,
footer{
  height: 60px;
}

header .row,
main .row,
footer .row{
  width: 68%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
header{
  background-color: lightblue;
}

header nav,
header .col-sm{
  border: 1px dashed black; 
  background-color: orange;
  padding: 6px;
}

header nav{
  column-gap: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .col-sm{
  width: 20%;
}

/*<------>*/

/* Main */
main section{
  height: 360px;
}

.pink-card{
  border: 1px dashed black;
  background-color: rgb(255, 121, 246);
  width: 65%;
  height: 80%;
}

main .col-lg{
  border: 1px dashed black;
  height: 80%;
  width: 60%;
  background-color: rgb(0, 115, 255);
}

main .col-sm{
  border: 1px dashed black;
  height: 80%;
  width: 40%;
  background-color: pink;
}

.section-larger{
  height: 550px;
}

.green-card{
  border: 1px dashed black;
  width: 100%;
  height: 90%;
  background-color: green;
}

/* main footer*/
[role="main-footer"]{
  background-color: rgb(37, 37, 37);
}

[role="main-footer"] .row{
  padding-bottom: 20px;
}

[role="main-footer"] .col-lg{
  border: 1px dashed black;
  height: 95%;
  width: 35%;
  background-color:rgb(237, 45, 77);
}

[role="main-footer"] .col-sm{
  border: 1px dashed white;
  height: 95%;
  width: 20%;
  background-color: lightseagreen;
}
/*<---------->*/
/*<------>*/

/* Footer */

footer{
  background-color: rgb(37, 37, 37);;
}

footer .row{
  align-items: flex-end;
}

footer nav{
  width: 100%;
  height: 70%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(91, 255, 225);
}

.label{
  border: 1px dashed black;
  padding: 2px 8px;
  font-size: 14px;
  background-color: rgb(255, 182, 217);
}
/*<------>*/